<template>
  <div v-if="isAuthenticated">
    <h1>Crud</h1>
    <Cargando v-if="cargando"/>
    <div v-else>
      <Error v-if="pintarError"/>
      <TodoForm />
      <Todo v-for="todo in todos" :key="todo.id" :todo="todo"/>
      <h3 class="text-center mt-2" v-if="todos.length === 0">Sin actividades</h3>
    </div>
  </div>
</template>

<script>
import { useAuth } from "@vueuse/firebase";
import { useDb } from '../hooks/useDb'
import Cargando from '../components/Cargando'
import { computed, onMounted, provide, ref } from 'vue';
import Error from '../components/Error'
import TodoForm from '../components/TodoForm'
import Todo from '../components/Todo'

export default {
  components: {
    Cargando,
    Error,
    TodoForm,
    Todo
  },
  setup() {
    const { isAuthenticated } = useAuth()
    const { getTodos, cargando } = useDb()
    const todos = ref([])
    const error = ref(null)

    provide('error', error)
    provide('todos', todos)

    const pintarError = computed(() => error.value ? true : false)

    onMounted(async () => {
      todos.value = await getTodos()
      if (todos.value.res) {
        error.value = todos.value.e
      }
    })

    return { isAuthenticated, todos, cargando, pintarError }
  }
}
</script>
